{% load static %}
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloader -->
<div class="tm-top-header">
    <div class="container">
        <div class="row">
            <div class="tm-top-header-inner">
                <div class="tm-logo-container">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo">
                    <h1 class="tm-site-name tm-handwriting-font">Cafe House</h1>
                </div>
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <nav class="tm-nav">
                    <ul>
                        <li><a href="{% url 'home' %}"
                               class="{% if request.resolver_match.url_name == 'home' %} active {% endif %}">Home</a>
                        </li>
                        {#                        <li><a href="{% url 'today_special' %}"#}
                        {#                               class="{% if request.resolver_match.url_name == 'today_special' %} active {% endif %}">Today#}
                        {#                            Special</a></li>#}
                        <li><a href="{% url 'menu' %}"
                               class="{% if request.resolver_match.url_name == 'menu' %} active {% endif %} ">Menu</a>
                        </li>
                        <li><a href="{% url 'contact' %}"
                               class="{% if request.resolver_match.url_name == 'contact' %} active {% endif %}">Contact</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout
                                    ({{ request.user.username }})</a>
                                <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                                    {% csrf_token %}
                                </form>
                            </li>
                        {% else %}
                            <li><a href="{% url 'register' %}"
                                   class="{% if request.resolver_match.url_name == 'register' %} active {% endif %}">Register</a>
                            </li>
                            <li><a href="{% url 'login' %}"
                                   class="{% if request.resolver_match.url_name == 'login' %} active {% endif %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="tm-welcome-section">
    <div class="container tm-position-relative">
        <div class="tm-lights-container">
            <img src="{% static 'img/light.png' %}" alt="Light" class="light light-1">
            <img src="{% static 'img/light.png' %}" alt="Light" class="light light-2">
            <img src="{% static 'img/light.png' %}" alt="Light" class="light light-3">
        </div>
        {% for slide in sliders %}
            <div class="row tm-welcome-content">
                <h2 class="white-text tm-handwriting-font tm-welcome-header">{{ slide.title }}</h2>
                {% if slide.subtitle %}
                    <h2 class="gold-text tm-welcome-header-2">{{ slide.subtitle }}</h2>
                {% endif %}
                {% if slide.description %}
                    <p class="gray-text tm-welcome-description gold-text">{{ slide.description }}</p>
                {% endif %}
                {% if slide.link %}
                    <a href="{{ slide.link }}" class="tm-more-button tm-more-button-welcome">Details</a>
                {% endif %}
                <img src="{{ slide.image.url }}" alt="{{ slide.title }}" class="tm-table-set img-responsive">
            </div>
        {% endfor %}
    </div>
</section>