{% extends 'base.html' %}
{% load static %}

{% block title %} Cafe House - Food and Drink Menu {% endblock %}
{% block content %}
    <div class="tm-main-section light-gray-bg">
        <div class="container" id="main">
            <section class="tm-section row">
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <h2 class="tm-section-header gold-text tm-handwriting-font">Variety of Menus</h2>
                    <h2>Cafe House</h2>
                    <p class="tm-welcome-description">This is free HTML5 website template from <span class="blue-text">template</span><span class="green-text">mo</span>. Fndimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Ettiam sit amet orci eget eros faucibus tincidunt.</p>
                    <a href="#" class="tm-more-button margin-top-30">Read More</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
                    <div class="inline-block shadow-img">
                        <img src="{% static 'img/1.jpg' %}" alt="Image" class="img-circle img-thumbnail">
                    </div>
                </div>
            </section>
            <section class="tm-section row">
                <div class="col-lg-12 tm-section-header-container margin-bottom-30">
                    <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo"> Our Menus</h2>
                    <div class="tm-hr-container"><hr class="tm-hr"></div>
                </div>
                <div>
                    <div class="col-lg-3 col-md-3">
                        <div class="tm-position-relative margin-bottom-30">
                            <nav class="tm-side-menu">
                                <ul>
                                    <li><a href="#cold_drink" class="active">Cold Drink</a></li>
                                    <li><a href="#hot_drink">Hot Drink</a></li>
                                    <li><a href="#coffee_based">Coffee Based</a></li>
                                    <li><a href="#food">Food</a></li>
                                </ul>
                            </nav>
                            <img src="{% static 'img/vertical-menu-bg.png' %}" alt="Menu bg" class="tm-side-menu-bg">
                        </div>
                    </div>
                    <div class="tm-menu-product-content col-lg-9 col-md-9"> <!-- menu content -->
                        <!-- Cold Drink -->
                        <div id="cold_drink">
                            <h3 class="gold-text tm-handwriting-font">Cold Drinks</h3>
                            <div class="tm-hr-container"><hr class="tm-hr"></div>
                            {% for item in cold_drinks %}
                                <div class="tm-product">
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                    {% endif %}
                                    <div class="tm-product-text">
                                        <h3 class="tm-product-title">{{ item.title }}</h3>
                                        <p class="tm-product-description">{{ item.description }}</p>
                                    </div>
                                    <div class="tm-product-price">
                                        <span class="tm-product-price-currency">${{ item.price }}</span>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No cold drinks available.</p>
                            {% endfor %}
                        </div>
                        <!-- Hot Drinks -->
                        <div id="hot_drink" class="margin-top-40">
                            <h3 class="gold-text tm-handwriting-font">Hot Drinks</h3>
                            <div class="tm-hr-container"><hr class="tm-hr"></div>
                            {% for item in hot_drinks %}
                                <div class="tm-product">
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                    {% endif %}
                                    <div class="tm-product-text">
                                        <h3 class="tm-product-title">{{ item.title }}</h3>
                                        <p class="tm-product-description">{{ item.description }}</p>
                                    </div>
                                    <div class="tm-product-price">
                                        <span class="tm-product-price-link tm-handwriting-font">${{ item.price }}</span>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No hot drinks available.</p>
                            {% endfor %}
                        </div>
                        <!-- Coffee Based -->
                        <div id="coffee_based" class="margin-top-40">
                            <h3 class="gold-text tm-handwriting-font">Coffee Based</h3>
                            <div class="tm-hr-container"><hr class="tm-hr"></div>
                            {% for item in coffee_based %}
                                <div class="tm-product">
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                    {% endif %}
                                    <div class="tm-product-text">
                                        <h3 class="tm-product-title">{{ item.title }}</h3>
                                        <p class="tm-product-description">{{ item.description }}</p>
                                    </div>
                                    <div class="tm-product-price">
                                        <span class="tm-product-price-link tm-handwriting-font">${{ item.price }}</span>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No coffee based items available.</p>
                            {% endfor %}
                        </div>
                        <!-- Food -->
                        <div id="food" class="margin-top-40">
                            <h3 class="gold-text tm-handwriting-font">Food</h3>
                            <div class="tm-hr-container"><hr class="tm-hr"></div>
                            {% for item in foods %}
                                <div class="tm-product">
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                    {% endif %}
                                    <div class="tm-product-text">
                                        <h3 class="tm-product-title">{{ item.title }}</h3>
                                        <p class="tm-product-description">{{ item.description }}</p>
                                    </div>
                                    <div class="tm-product-price">
                                        <span class="tm-product-price-link tm-handwriting-font">${{ item.price }}</span>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No food items available.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}