{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="tm-main-section light-gray-bg test">
        <div class="container" id="main">
            <section class="tm-section row">
                <h2 class="col-lg-12 margin-bottom-30">Login</h2>
                <form method="post" class="tm-contact-form">
                    {% csrf_token %}
                    <div class="col-lg-6 col-md-6">
                        <!-- Username -->
                        <div class="form-group">
                            <label for="id_username">Username</label>
                            <input type="text" name="username" id="id_username" class="form-control" required>
                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            <label for="id_password">Password</label>
                            <input type="password" name="password" id="id_password" class="form-control" required>
                        </div>

                        <!-- Submit -->
                        <div class="form-group">
                            <button class="tm-more-button" type="submit">Login</button>
                        </div>

                        <!-- Links -->
                        <div class="form-group">
                            <a href="{% url 'register' %}" class="tm-more-button">Register Account</a>
                        </div>
                        <div class="form-group">
                            <a href="{% url 'password_reset' %}" class="tm-more-button">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}