{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
    <section class="tm-welcome-section">
        <div class="container tm-position-relative">
            <div class="tm-lights-container">
                <img src="{% static 'img/light.png' %}" alt="Light" class="light light-1">
                <img src="{% static 'img/light.png' %}" alt="Light" class="light light-2">
                <img src="{% static 'img/light.png' %}" alt="Light" class="light light-3">
            </div>
            <div class="row tm-welcome-content">
                <h2 class="white-text tm-handwriting-font tm-welcome-header">
                    <img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line">&nbsp;Password reset&nbsp;&nbsp;
                    <img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line">
                </h2>
                <h2 class="gold-text tm-welcome-header-2">Cafe House</h2>
                <p class="gray-text tm-welcome-description">
                    Use this code to reset your password:
                    <span class="gold-text"><strong>{{ code }}</strong></span>
                </p>
                <form method="post" action="{% url 'password_reset_verify' %}" class="tm-contact-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="code">Enter Code</label>
                        <input type="text" name="code" id="code" class="form-control" required>
                    </div>
                    <div class="button-column">
                        <button type="submit" class="tm-more-button">Verify Code</button>
                        <a href="{% url 'login' %}" class="tm-more-button">Back To Login</a>
                    </div>
                </form>
            </div>
            <img src="{% static 'img/table-set.png' %}" alt="Table Set" class="tm-table-set img-responsive">
        </div>
    </section>
{% endblock %}