{% extends 'base.html' %}
{% load static %}

{% block title %} Set New Password {% endblock %}

{% block content %}
    <section class="tm-welcome-section">
        <section class="container tm-position-relative">
            <div class="tm-lights-container">
                <img src="{% static 'img/light.png' %}" alt="Light" class="light light-1">
                <img src="{% static 'img/light.png' %}" alt="Light" class="light light-2">
                <img src="{% static 'img/light.png' %}" alt="Light" class="light light-3">
            </div>
            <div class="row tm-welcome-content">
                <h2 class="white-text tm-handwriting-font tm-welcome-header">
                    <img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line">&nbsp;Set New
                    Password&nbsp;&nbsp;
                    <img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line">
                </h2>
                <h2 class="gold-text tm-welcome-header-2">Cafe House</h2>

                <form method="post" class="tm-contact-form">
                    {% csrf_token %}
                    <div class="col-lg-6 col-md-6">

                        <!-- New Password -->
                        <div class="form-group">
                            <label for="password1">New Password</label>
                            <input type="password" name="password1" id="password1" class="form-control" required>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" name="password2" id="password2" class="form-control" required>
                        </div>

                        <!-- Submit -->
                        <div class="form-group">
                            <button type="submit" class="tm-more-button">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
            <img src="{% static 'img/table-set.png' %}" alt="Table Set" class="tm-table-set img-responsive">
        </section>
    </section>
{% endblock %}
