{% extends 'base.html' %}

{% block title %} Password Reset {% endblock %}

{% block content %}
    <div class="tm-main-section light-gray-bg test">
        <div class="container" id="main">
            <section class="tm-section row">
                <h2 class="col-lg-12 margin-bottom-30">Reset PASSWORD</h2>
                <form method="post" class="tm-contact-form">
                    {% csrf_token %}
                    <div class="col-lg-6 col-md-6">
                        <!-- Email -->
                        <div class="form-group">
                            <label for="id_email">Email</label>
                            <input type="email" name="email" id="id_email" class="form-control" required>
                        </div>

                        <!-- Submit -->
                        <div class="form-group">
                            <button class="tm-more-button" type="submit">Send Reset Link</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}