{% extends 'base.html' %}
{% block title %} Verify Code {% endblock %}

{% block content %}
    <div class="tm-main-section light-gray-bg">
        <div class="container" id="main">
            <section class="tm-section row">
                <h2 class="col-lg-12 margin-bottom-30">Enter Reset Code</h2>
                <form method="post" class="tm-contact-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <!-- Code -->
                            <div class="form-group">
                                {{ form.code.label_tag }}
                                {{ form.code }}
                                {% if form.code.errors %}
                                    <div class="text-danger small">{{ form.code.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Hidden user id -->
                            <input type="hidden" name="user_id" value="{{ user_id }}">

                            <!-- Submit -->
                            <div class="form-group">
                                <button class="tm-more-button" type="submit">Verify Code</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
