{% extends 'base.html' %}
{% block title %} Verify Code {% endblock %}

{% block content %}
    <div class="tm-main-section light-gray-bg">
        <div class="container" id="main">
            <section class="tm-section row">
                <h2 class="col-lg-12 margin-bottom-30">Enter Code</h2>
                <form method="post" class="tm-contact-form">
                    {% csrf_token %}
                    {{ form.code.label_tag }}
                    {{ form.code }}
                    <input type="hidden" name="user_id" value="{{ request.POST.user_id }}">
                    <button class="tm-more-button" type="submit">Verify</button>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
